@import "tailwindcss";

@theme {
  --color-primary: #10b981; /* emerald-500 */
  --color-primary-dark: #059669; /* emerald-600 */
  --color-secondary: #f59e0b; /* amber-500 */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f6; /* gray-100 */
}
